{% extends 'HomeTestBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}

<div class="container">
    <h1>Course list</h1>

    <table class="table my-style records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('course_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td><a href="{{ path('course_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.price }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('course_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('course_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('course_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('cluster') }}">
        Back to the groups list
    </a>
</div>
{% endblock %}
